.scroll-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCube 2s infinite linear;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(50, 187, 255, 0.8);
  border: 2px solid #006eff; /* Tailwind Gray-300 */
  box-shadow: 0px 4px 8px rgba(1, 57, 71, 0.362);
}

.face1 {
  transform: rotateY(0deg) translateZ(50px);
}
.face2 {
  transform: rotateY(90deg) translateZ(50px);
}
.face3 {
  transform: rotateY(180deg) translateZ(50px);
}
.face4 {
  transform: rotateY(-90deg) translateZ(50px);
}
.face5 {
  transform: rotateX(90deg) translateZ(50px);
}
.face6 {
  transform: rotateX(-90deg) translateZ(50px);
}

@keyframes rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
